#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

ion-toolbar {
  --padding-start: 0;
  --padding-end: 0;
}

ion-grid {
  padding: 0;
}

#mobile-searchbar {
  display: none;
}

@media (max-width: 768px) {
  #pc-searchbar {
    display: none !important; /* Use !important to ensure it overrides other styles */
  }

  #mobile-searchbar {
    display: flex !important; /* Use !important to ensure it overrides other styles */
  }
}


ion-searchbar {
  --background: transparent;
}

#container a {
  text-decoration: none;
}

.favorite-button {
  position: absolute;
  top: 5px; 
  right: 5px; 
}

.detail-button {
  position: absolute;
  top: 5px; 
  left: 5px;
}

#card-poke{
  cursor:pointer;
  border-radius: 20px;
}

@media (max-width: 768px){
  #nome{
    display: none;
  }
}

ion-searchbar {
  --border-radius: 250px;
  width: 50%;
}

@media (max-width: 768px) {
  ion-searchbar {
    width: 100%;
  }
}

.favorite-button, .detail-button  {
  display: none;
}

#card-poke:hover .favorite-button,
#card-poke.favorite .favorite-button, 
#card-poke:hover .detail-button 
{
  display: block;
}

#card-poke:hover{
  bottom: 10px;
}

