#container {
  text-align: center;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.favorite-button {
  position: absolute;
  top: 5px; /* Distância do topo */
  right: 5px; /* Distância da direita */
}

.detail-button {
  position: absolute;
  top: 5px; /* Distância do topo */
  left: 5px; /* Distância da direita */
}

#card-poke{
  cursor:pointer;
  border-radius: 20px;
}

/* Esconda os botões por padrão */
.favorite-button, .detail-button  {
  display: none;
}

/* Mostre o botão de favorito quando o mouse passar sobre o card */
#card-poke:hover .favorite-button,
#card-poke.favorite .favorite-button, 
#card-poke:hover .detail-button 
{
  display: block;
}

#card-poke:hover{
  bottom: 10px;
}

